@import "../container.scss";

.contacts :global {
    position: relative;
    background: #fff;
    @include tablet {
        background-color: #443939;
        align-items: start;
    }
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    .contacts__title {
        margin-bottom: 54px;
        margin-top: 64px;
        display: flex;
        justify-content: center;
        width: 100%;
        font-family: var(--font-source);
        font-size: 41px;
        font-weight: 600;
        color: #d4b192;
        text-transform: uppercase;
    }
    .title {
        font-family: var(--font-source);
        font-size: 30px;
        display: block;
        margin-top: 40px;
        text-align: center;
        order: 1;
        @include tablet {
            display: none;
            font-size: 41px;
        }
        font-weight: 600;
        color: #2c2c2c;
        text-transform: uppercase;
    }
    .iframe {
        text-align: center;
        width: 315px;
        border: 1px #c4c4c4 solid;
        height: 268px;
        display: none;
        @include tablet {
            display: block;
            width: 100%;
            height: 530px;
            max-height: 530px;
        }
        @include desktop {
            max-height: 530px;
        }
        border: 0;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        z-index: 5;
    }
    .iframe__text {
        z-index: 8;
        display: none;
        @include tablet {
            display: flex;

            position: absolute;
            top: 0;
            right: 5%;
            box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1);
            padding-left: 42px;
            padding-top: 48px;
            padding-bottom: 48px;
        }
        @include desktopxl {
            display: flex;
            top: 0;
            right: 5%;
        }
        top: 0;
        max-width: 454px;
        height: calc(100% - 0.75%);
        width: 100%;
        background-color: #fff;
        flex-direction: column;

        ul {
            margin-top: 40px;
            display: flex;
            gap: 38px;
            flex-direction: column;
            li {
                display: flex;
                flex-direction: column;
                gap: 10px;
                h1 {
                    display: flex;
                    align-items: center;
                    gap: 9px;
                    color: #2c2c2c;
                    font-size: 20px;
                    font-weight: 500;
                }
                p {
                    font-size: 20px;
                    color: #444;
                    line-height: 28px;
                }
            }
        }

        &-title {
            display: none;
            @include tablet {
                display: block;
            }

            font-family: var(--font-source);
            font-size: 41px;
            font-weight: 600;
            color: #2c2c2c;
            text-transform: uppercase;
        }
    }
    .iframe__text-mobile {
        display: block;
        @include tablet {
            display: none;
        }
        margin-bottom: 60px;
        ul {
            margin-top: 40px;
            display: flex;
            gap: 38px;
            flex-direction: column;
            li {
                display: flex;
                flex-direction: column;
                gap: 10px;
                h1 {
                    display: flex;
                    align-items: center;
                    gap: 9px;
                    color: #2c2c2c;
                    font-size: 20px;
                    font-weight: 500;
                }
                p {
                    font-size: 20px;
                    color: #444;
                    line-height: 28px;
                }
            }
        }
    }
    .iframe__mobile {
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;
        width: 100%;
        min-width: 280px;
        border: 1px #c4c4c4 solid;
        height: 268px;
        filter: grayscale(1);
        display: block;
        @include tablet {
            display: none;
        }
    }
}
