@import "../container.scss";
.videos :global {
    padding-top: 4rem;
    padding-bottom: 7.5rem;
    position: relative;
    .bg {
        background: url("../../public/images/videos-bg.jpg");
        background-repeat: no-repeat;
        height: auto;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        &::after {
            background: rgba(255, 255, 255, 0.8);
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
    .container {
        position: relative;
        z-index: 10;
    }
    .videos {
        &__title {
            margin-bottom: 35px;
            display: flex;
            justify-content: center;
            width: 100%;
            font-family: var(--font-source);
            font-size: 30px;
            @include desktop {
                font-size: 41px;
            }
            font-weight: 600;
            color: #2c2c2c;
            text-transform: uppercase;
        }
        &__list {
            gap: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .videocard {
                background: #fff;
                display: flex;
                cursor: pointer;
                flex-direction: column;
                @include tablet {
                    max-width: 385px;
                }
                &:hover {
                    .videocard__inner {
                        &::before{
                            opacity: 1;
                        }
                    }
                }
                &__inner {
                    position: relative;
                    transition: all;
                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        max-width: 385px;
                    }
                    &::before {
                        background: rgba(0, 0, 0, 0.3);
                        position: absolute;
                        content: "";
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        width: 100%;
                        height: 100%;
                        transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
                        opacity: 0;
                    }
                }
                &__text {
                    padding: 22px 10px 20px 10px;
                    @include mobilelg {
                        padding: 22px 20px 20px 20px;
                    }
                    border: 1px #c4c4c4 solid;
                    h1 {
                        @include mobilelg {
                            font-size: 20px;
                        }
                        font-size: 16px;
                        font-weight: 500;
                        color: #2c2c2c;
                    }
                }
            }
        }
    }
}
