@import "../container.scss";
.header :global {
    width: 100%;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    z-index: 250;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    .header__inner {
        display: flex;
        flex-direction: column;
        transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
        background: #fff;
        &.mobile {
            background: #443939;
            @include desktop {
                background: #fff;
            }
            .top {
                .logoImage {
                    width: 100px;
                    height: 58px;
                    background: url("../../public/images/header-bg.png");
                    background-size: cover;
                }
            }
        }
        &.scroll {
            @include desktop {
                background-color: #9a6b45;
            }
            .top {
                color: #fff;
                .logoImage {
                    width: 100px;
                    height: 58px;
                    background-size: cover;
                    @include desktop {
                        width: 150px;
                        background: url("../../public/images/header-bg.png");
                        height: 88px;
                    }
                }
                .list__item {
                    a {
                        color: #fff;
                    }
                }
                .icon {
                    font-size: 18px;
                    width: 16px;
                    color: #fff;
                }
            }
        }
        .top {
            // clip-path: inset(0 0 100% 0);
            transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
            .logoImage {
                width: 100px;
                height: 58px;
                background: url("../../public/images/header-logo.png");
                background-size: cover;
                @include desktop {
                    width: 150px;
                    height: 88px;
                }
            }
            button {
                font-size: 24px;
                display: block;
                @include desktop {
                    display: none;
                }
                width: 24px;
                cursor: pointer;
            }
            padding-top: 20px;
            padding-bottom: 20px;
            @include desktop {
                padding-top: 25px;
                padding-bottom: 25px;
            }
            box-shadow: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            img {
                width: 100px;
                height: 58px;
                @include desktop {
                    width: auto;
                    height: auto;
                }
            }
            .icon {
                font-size: 18px;
                width: 16px;
                color: #9a6b45;
            }
            .list {
                display: none;
                @include desktop {
                    display: flex;
                }
                gap: 60px;
                &__item {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    h1 {
                        font-weight: 500;
                        font-size: 18px;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                    }
                    a {
                        color: #707070;
                        line-height: 20px;
                    }
                }
            }
        }
        .down {
            display: none;
            background-color: #f6f6f6;
            @include desktop {
                display: block;
            }
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
            &__inner {
                display: flex;
                justify-content: center;
                .menu {
                    width: 100%;
                    max-width: 920px;
                    display: flex;
                    gap: 72px;
                    &__item {
                        font-size: 18px;
                        font-weight: 500;
                        color: #2c2c2c;
                        &.lang-dropdown {
                            position: relative;
                            &:hover {
                                .lang__menu {
                                    clip-path: inset(0 0 0 0);
                                }
                            }
                        }
                        .lang__menu {
                            background: #fff;
                            border-top: 2px solid #9a6b45;
                            position: absolute;
                            padding: 20px 20px 10px;
                            cursor: auto;
                            -webkit-clip-path: inset(0 0 100% 0);
                            clip-path: inset(0 0 100% 0);
                            transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
                            li {
                                margin-bottom: 10px;
                                a {
                                    font-size: 18px;
                                    &:hover {
                                        color: #9a6b45;
                                    }
                                    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
                                    color: #444;
                                }
                            }
                        }
                        &.dropdown {
                            position: relative;
                            &:hover {
                                .dropdown__menu {
                                    clip-path: inset(0 0 0 0);
                                }
                            }
                        }
                        .dropdown__menu {
                            background: #fff;
                            border-top: 2px solid #9a6b45;
                            position: absolute;
                            padding: 20px 20px 10px;
                            width: 250px;
                            cursor: auto;
                            -webkit-clip-path: inset(0 0 100% 0);
                            clip-path: inset(0 0 100% 0);
                            transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
                            li {
                                margin-bottom: 20px;
                                a {
                                    font-size: 18px;
                                    &:hover {
                                        color: #9a6b45;
                                    }
                                    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
                                    color: #444;
                                }
                            }
                        }
                        &-link {
                            transition: all 0.5s ease-in-out;
                            color: #2c2c2c;
                            display: inline-block;
                            font-size: 18px !important;
                            font-weight: 500;
                            display: flex;
                            align-items: center;
                            gap: 8px;
                            padding-top: 30px;
                            padding-bottom: 30px;
                            .icon {
                                transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
                                font-size: 12px;
                                width: 12px;
                            }
                            &:hover {
                                color: #9a6b45;
                                .icon {
                                    transform: rotate(180deg);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
