@import "../container.scss";
.about :global {
    display: flex;
    position: relative;

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: url("/images/haqqinda-bg.jpg");
        z-index: 2;
    }
    .container {
        position: relative;
        z-index: 3;
    }
    .about {
        &__content {
            padding-top: 80px;
            padding-bottom: 120px;
            .about__info {
                display: flex;
                flex-direction: column;
                @include desktop {
                    flex-direction: row;
                }
                gap: 52px;
                .info {
                    &__up {
                        .title {
                            font-size: 32px;
                            font-weight: 600;
                            color: #9a6b45;
                            font-family: var(--font-source);
                            &.heading {
                                margin-bottom: 37px;
                            }
                        }
                        p {
                            @include tablet {
                                font-size: 20px;
                                &:first-of-type {
                                    margin-bottom: 12px;
                                }
                                &:last-of-type {
                                    margin-bottom: 30px;
                                }
                            }
                            font-size: 16px;
                            color: #707070;
                            line-height: 32px;
                            &:first-of-type {
                                margin-bottom: 20px;
                            }
                            &:last-of-type {
                                margin-bottom: 37px;
                            }
                        }
                    }
                    &__down {
                        margin-bottom: 72px;
                        .title {
                            font-size: 32px;
                            font-weight: 600;
                            color: #9a6b45;
                            font-family: var(--font-source);
                            &.heading {
                                margin-bottom: 20px;
                            }
                        }
                        p {
                            font-size: 20px;
                            color: #707070;
                            line-height: 32px;
                            margin-bottom: 20px;
                            &.bold {
                                margin-bottom: 0;
                                color: #2c2c2c;
                                font-weight: 500;
                            }
                        }
                    }
                    &__buttons {
                        font-size: 20px;
                        color: #2c2c2c;
                        font-weight: 600;
                        ul {
                            display: flex;
                            flex-wrap: wrap;
                            @include desktopxl {
                                justify-content: center;
                            }
                            row-gap: 20px;
                            column-gap: 42px;
                            li {
                                display: flex;
                                max-width: 330px;
                                justify-content: space-between;
                                width: 100%;
                                gap: 16px;
                                align-items: center;
                            }
                            a {
                                color: #fff;
                                padding: 12px 16px;
                                box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
                                border-radius: 8px;
                                background-color: #9a6b45;
                                font-size: 20px;
                                font-weight: 400;
                            }
                        }
                    }
                }
                .photo {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 48px;
                    img {
                        width: 100%;
                        box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.2);
                        @include tablet {
                            width: auto;
                            box-shadow: none;
                        }
                    }
                    &__text {
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        h1 {
                            font-weight: 700;
                            font-size: 32px;
                            color: #2c2c2c;
                        }
                        p {
                            color: #2c2c2c;
                            font-size: 24px;
                        }
                    }
                }
            }
        }
        &__video {
            padding-bottom: 120px;
            .video__title {
                display: flex;
                justify-content: center;
                font-size: 32px;
                font-weight: 600;
                color: #9a6b45;
                font-family: var(--font-source);
                margin-bottom: 40px;
            }
            .swiper {
                user-select: none;
                &-wrapper {
                }
                &Slide {
                    display: flex;
                    height: 388px;
                    user-select: none;
                    width: 387px;
                    img {
                        object-fit: cover;
                        object-position: 35% 35%;
                        user-select: none;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}
