@import "./container.scss";
.testimonials :global {
    display: flex;
    position: relative;
    .bg {
        background: url("../public/images/grey-bg.png");
        background-repeat: no-repeat;
        height: auto;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        &::after {
            background: #443939fa;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
    .container {
        position: relative;
        z-index: 10;
    }
    .testimonials {
        &__title {
            margin-bottom: 35px;
            margin-top: 64px;
            display: flex;
            justify-content: center;
            width: 100%;
            font-family: var(--font-source);
            font-size: 41px;
            font-weight: 600;
            color: #D4B192;
            text-transform: uppercase;
        }
    }
}
